body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    overflow: hidden;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
}

/* 讓影片和畫布完全重疊，並撐滿全螢幕 */
#webcam, #output_canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scaleX(-1); /* 兩者都要水平翻轉 */
}